{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 mb-3">
            <div class="information-box">
                <h4>更新情報</h4>
                <div class="h-75 overflow-y-auto">
                    {{ with site.Data.news }}
                    {{ range . }}
                    <p style="margin-bottom: 0;">[{{ .date }}] {{ .message | safeHTML }}</p>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 mb-5">
        <b>学生・企業研究機関懇談会  学生参加登録</b><br>
        7月6日(月) ~ 8月20日(木)
        <a class="btn btn-secondary" href="https://form.run/@conf-bunken-3RJZFw8B1aoPTGlTobsw" role="button">
             学生・企業/研究機関懇談会  学生参加登録フォーム
            <img src="images/external_link.svg" alt="link icon">
        </a>
        <br>
        <br>
        <b>インフォーマルミーティングの受付中</b><br>
        7月24日(金)まで<br>
        <a class="btn btn-success" href="https://forms.gle/bkKXMqa2iPscidne8" role="button">
             インフォーマルミーティング申込
            <img src="images/external_link.svg" alt="link icon">
        </a>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <img src="images/pasj2026_poster.png" alt="Poster" class="img-fluid"><br>
        </div>
        <div class="col-md-4 mb-3">
            <img src="images/kondankai_poster.jpg" alt="Poster" class="img-fluid"><br>
        </div>
        <div class="col-md-4 mb-3">
            <img src="images/pasj2026_special_lecture.png" alt="Poster" class="img-fluid"><br>
        </div>
    </div>
</div>

{{ end }}
