    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0 position-relative">
            <img src="images/banner_bottom.jpg" class="custom-image" alt="nanoteras" width="1200" height="333">
            <div class="position-absolute bottom-0 end-0 p-3"
                style="background-color: rgba(255, 255, 255, 0.7); border-radius: 5px;">
                <h4 class="responsive-text">主 催 : 日本加速器学会</h4>
                <h4 class="responsive-text">共 催 : 量子科学技術研究開発機構 次世代放射光施設整備開発センター（予定）<br>
                    <span style="margin-left:3em">東北大学 先端量子ビーム科学研究センター（予定）</span><br>
            </div>
        </div>
    </div>
</div>

<div class="copyright">
    &copy; 2026 日本加速器学会 行事委員会
</div>